.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    width: 100%;
    height: 800px;
}

.div1 {
    grid-area: 1 / 1 / 12 / 2;
    background-color: #999999;
}

.div1 {
    background-color: red;

    img {
        visibility: hidden;
    }
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 2 / 4 / 3;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid grey;
}

.div4 {
    grid-area: 4 / 2 / 5 / 3;
    border: 1px solid grey;
}

.div5 {
    grid-area: 5 / 2 / 6 / 3;
    border: 1px solid grey;
}

.div6 {
    grid-area: 6 / 2 / 7 / 3;
    border: 1px solid grey;
}

.div7 {
    grid-area: 7 / 2 / 8 / 3;
    border: 1px solid grey;
}

.div8 {
    grid-area: 8 / 2 / 9 / 3;
    border: 1px solid grey;
}

.div9 {
    grid-area: 9 / 2 / 10 / 3;
    border: 1px solid grey;
}

.div10 {
    grid-area: 10 / 2 / 11 / 3;
    border: 1px solid grey;
}

.div11 {
    grid-area: 11 / 2 / 12 / 3;
    border: 1px solid grey;
}

.div12 {
    grid-area: 1 / 3 / 12 / 4;
    background-color: #999999;
}


@media screen and (max-width:600px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 3 / 2;
        padding: 20px;
        background-color: white;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
    }

    .div2,
    .div3,
    .div4,
    .div5,
    .div5,
    .div6,
    .div7,
    .div8 {
        background-color: #999999;
        margin: 1px 0;
        padding: 2px;
    }

    .div2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div3 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .div4 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .div5 {
        grid-area: 6 / 1 / 7 / 2;
    }

    .div6 {
        grid-area: 7 / 1 / 8 / 2;
    }

    .div7 {
        grid-area: 8 / 1 / 9 / 2;
    }

    .div8 {
        grid-area: 9 / 1 / 10 / 2;
    }

    .div1 {
        img {
            visibility: hidden;
            width: 40px;
        }
    }
}