.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(2, 2fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 500px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.65);
    z-index: 1;
}

.div2 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: #999999;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #bdbdbd;
}

.div4 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #757576;
}

.div5 {
    grid-area: 4 / 1 / 5 / 3;
    background-color: #bdbdbd;
}

@media screen and (max-width:600px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 2 / 1 / 4 / 2;
    }

    .div3 {
        grid-area: 4 / 1 / 6 / 2;
    }

    .div4 {
        grid-area: 6 / 1 / 7 / 2;
    }
}